[alias]
	br = branch
	ci = commit
	co = checkout
	di = diff
	st = status
[color]
	ui = auto
[merge]
	tool = vimdiff
[push]
	default = tracking
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = fatih.asici@gmail.com
	smtpserverport = 587
[svn]
	rmdir = true
[user]
	email = fatih.asici@gmail.com
	name = Fatih Aşıcı
